* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v25_3 {
  width: 100%;
  height: 4852px;
  background: none;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v28_62 {
  width: 100%;
  height: 492px;
  background: linear-gradient(
    rgba(77, 89, 210, 0.800000011920929),
    rgba(77, 89, 210, 0)
  );
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 122px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v25_6 {
  width: 335px;
  color: rgba(244, 244, 244, 1);
  position: absolute;
  top: 45px;
  left: 60px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v25_7 {
  width: 528px;
  height: 37px;
  background: url("../images/v25_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 911px;
  overflow: hidden;
}
.v25_8 {
  width: 125px;
  color: rgba(244, 244, 244, 1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v25_9 {
  width: 161px;
  color: rgba(244, 244, 244, 1);
  position: absolute;
  top: 0px;
  left: 179px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v25_10 {
  width: 133px;
  color: rgba(244, 244, 244, 1);
  position: absolute;
  top: 3px;
  left: 395px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v25_11 {
  width: 100%;
  color: rgba(244, 244, 244, 1);
  position: absolute;
  top: 253px;
  left: 82px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v25_12 {
  width: 200px;
  height: 54px;
  background: url("../images/v25_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 550px;
  left: 656px;
  overflow: hidden;
}
.v25_13 {
  width: 200px;
  height: 54px;
  background: rgba(244, 244, 244, 0);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(244, 244, 244, 1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v25_14 {
  width: 142px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 11px;
  left: 29px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v25_16 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1610px;
  left: 213px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v25_18 {
  width: 100%;
  height: 263px;
  background: url("../images/v25_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1962px;
  left: 686px;
  overflow: hidden;
}
.v25_19 {
  width: 100%;
  height: 263px;
  background: linear-gradient(
    rgba(21, 19, 22, 0.5),
    rgba(84, 34, 156, 0.6000000238418579)
  );
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  overflow: hidden;
}
.v25_20 {
  width: 291px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 84px;
  left: 795px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v25_21 {
  width: 100%;
  height: 263px;
  background: url("../images/v25_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2431px;
  left: 857px;
  overflow: hidden;
}
.v25_22 {
  width: 100%;
  height: 263px;
  background: linear-gradient(
    rgba(21, 19, 22, 0.5),
    rgba(84, 34, 156, 0.6000000238418579)
  );
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1201px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  overflow: hidden;
}
.v25_23 {
  width: 545px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 84px;
  left: 107px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v25_24 {
  width: 100%;
  height: 263px;
  background: url("../images/v25_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2965px;
  left: 486px;
  overflow: hidden;
}
.v25_25 {
  width: 100%;
  height: 263px;
  background: linear-gradient(
    rgba(21, 19, 22, 0.5),
    rgba(84, 34, 156, 0.6000000238418579)
  );
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  overflow: hidden;
}
.v25_26 {
  width: 545px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 84px;
  left: 568px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v25_27 {
  width: 674px;
  color: rgba(244, 244, 244, 1);
  position: absolute;
  top: 1991px;
  left: 725px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v25_28 {
  width: 657px;
  color: rgba(244, 244, 244, 1);
  position: absolute;
  top: 2468px;
  left: 109px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v25_29 {
  width: 600px;
  color: rgba(244, 244, 244, 1);
  position: absolute;
  top: 3002px;
  left: 799px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v25_17 {
  width: 529px;
  color: rgba(244, 244, 244, 1);
  position: absolute;
  top: 715px;
  left: 191px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v25_30 {
  width: 578px;
  height: 498px;
  background: linear-gradient(
    rgba(21, 19, 22, 0.5),
    rgba(84, 34, 156, 0.6000000238418579)
  );
  opacity: 1;
  position: absolute;
  top: 831px;
  left: 791px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v25_32 {
  width: 709px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 3445px;
  left: 410px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v25_33 {
  width: 481px;
  color: rgba(255, 252, 254, 1);
  position: absolute;
  top: 4380px;
  left: 532px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v25_34 {
  width: 355px;
  height: 566px;
  background: url("../images/v25_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3641px;
  left: 61px;
  overflow: hidden;
}
.v26_54 {
  width: 34px;
  height: 31px;
  background: rgba(244, 244, 244, 1);
  opacity: 1;
  position: absolute;
  top: 535px;
  left: 158px;
}
.v25_36 {
  width: 273px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 202px;
  left: 39px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v26_60 {
  width: 180px;
  height: 180px;
  background: url("../images/v26_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 88px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v25_37 {
  width: 355px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 277px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v25_38 {
  width: 355px;
  height: 566px;
  background: url("../images/v25_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3641px;
  left: 580px;
  overflow: hidden;
}
.v25_40 {
  width: 273px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 202px;
  left: 39px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v26_57 {
  width: 180px;
  height: 180px;
  background: url("../images/v26_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 88px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v26_55 {
  width: 34px;
  height: 31px;
  background: rgba(244, 244, 244, 1);
  opacity: 1;
  position: absolute;
  top: 535px;
  left: 169px;
}
.v25_41 {
  width: 355px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 277px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v25_42 {
  width: 355px;
  height: 566px;
  background: url("../images/v25_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3641px;
  left: 1099px;
  overflow: hidden;
}
.v25_44 {
  width: 273px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 202px;
  left: 39px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v26_61 {
  width: 180px;
  height: 179px;
  background: url("../images/v26_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v26_56 {
  width: 34px;
  height: 31px;
  background: rgba(244, 244, 244, 1);
  opacity: 1;
  position: absolute;
  top: 535px;
  left: 161px;
}
.v25_45 {
  width: 355px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 277px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v25_49 {
  width: 554px;
  height: 97px;
  background: url("../images/v25_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4493px;
  left: 489px;
  border: 3px solid rgba(244, 244, 244, 1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v25_50 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 4515px;
  left: 254px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
