header {
    background-color: rgba(21, 21, 21, 0.5);
}

nav {
    padding-left: 2%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

body {
    background-color: rgb(21, 21, 21, 0.9);
    color: #e2e2e2;
    font-family: 'Oxanium', cursive;

}

.body-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    padding-top: 5%;
    gap: 500px;
}

.full-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

/* .logo-container {
    align-
} */

.logo-container img {
    max-width: 250px;
}

.navigation-container {
    align-items: flex-end;
    width: 30%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    font-size: 30px;
}

.nav-item a {
    color:#e2e2e2;
    text-decoration: none;
}

.contact-btn {
    background-color: black;
    size: 20% 10%;
}

.contact-btn a {
    color: #e2e2e2;
    text-decoration: none;
    /* font-size: ; */
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 50px;
    width: 100%;
}

.headline {
   
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    text-align: center;
    
    color: white;
    

}

.tagline {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}


.join-beta-btn a{
    text-decoration: none;
    color: #ff0000;
    font-weight: 500;
}

.vision-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.vision-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.vision-headline-title {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    color: white

}

.vision-headline-content {
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    text-align: center;
}

.vision-goal-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10%;
}

.vision-goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.vision-goal-header {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    color: white
}

.vision-goal-description {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
}

.philosophy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.philosophy-headline {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    width: max-content;
    color: white;
}

.philosophy-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.philosophy-list {
    font-style:normal;
    font-weight: 300;
    font-size: 50px;
    color: #ff0000;
    text-align: center;
    width: 100%;
}

.philosophy-paragraphs {
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
}

.team-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.team-headline {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    color: white;
}

.team-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
}

.person-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.team-person-name {
    font-weight: 500;
    font-size: 18px;
}

.team-person-position {
    font-weight: 400;
    color: #ff0000;
}

.team-person-description {
    text-align: center;
    width: 80%;
}