@font-face {
  font-family: "Golos Text", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&display=swap");
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    140.9% 89.18% at 48.01% 10.82%,
    #181c3f 0%,
    #000002 100%
  );
  color: white;
  font-family: "Golos", sans-serif;
}

.hero,
.contact {
  background: linear-gradient(
    57.34deg,
    #761696 -4.92%,
    rgba(84, 34, 156, 0.6) 48.2%,
    rgba(22, 20, 22, 0.5) 104.96%
  );
  border-radius: 30px;
}

.about {
  width: 80%;
  margin: auto;
}

a {
  color: white;
  text-decoration: none;
  transition: all ease-in-out 200ms;
}

a:hover {
  color: white;
}

.navlink:hover {
  color: #a71ed4;
}

.cta-btn {
  background: linear-gradient(
    57.34deg,
    rgba(22, 20, 22, 0.5) -4.96%,
    rgba(84, 34, 156, 0.6) 48.2%,
    #761696 107.2%
  );
  border: solid 2px white;
}

.cta-btn:hover {
  border: 2px solid white;
  background: #a71ed4;
}

.placeholder {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    57.34deg,
    rgba(22, 20, 22, 0.5) -4.96%,
    rgba(84, 34, 156, 0.6) 48.2%,
    #761696 107.2%
  );
  border-radius: 40px;
}

.tab-1 {
  background: linear-gradient(
    89.85deg,
    #0a0b23 26.72%,
    rgba(84, 34, 156, 0.6) 56.17%,
    rgba(118, 22, 150, 0.7) 97.75%
  );
  border-radius: 40px;
}

.tab-2 {
  background: linear-gradient(
    89.85deg,
    rgba(118, 22, 150, 0.7) 26.26%,
    rgba(84, 34, 156, 0.6) 56.83%,
    #0a0b23 97.5%
  );
  border-radius: 150px 0px 0px 150px;
}
i {
  color: white;
  transition: all ease-in-out 200ms;
}
i:hover {
  color: #a71ed4;
}

.contact img {
  border: 5px solid #761696;
}

.email-btn {
  background: linear-gradient(
    57.34deg,
    rgba(22, 20, 22, 0.5) -4.96%,
    rgba(84, 34, 156, 0.6) 48.2%,
    #761696 107.2%
  );
  border: solid 2px white;
  width: 400px;
  padding: 15px 8px;
  margin: 0 auto;
  transition: all ease-in-out 200ms;
}

.email-btn:hover {
  border: 2px solid white;
  background: #a71ed4;
}
